# ==========================
# Phoenix Configuration File
# ==========================

# Camera Specific Settings
# ------------------------
PHX_BOARD_TYPE,                 PHX_DIGITAL
PHX_CAM_TYPE,                   PHX_CAM_AREASCAN_ROI
PHX_DATASTREAM_VALID,           PHX_DATASTREAM_ALWAYS
PHX_CAM_FORMAT,                 PHX_CAM_NON_INTERLACED
PHX_CAM_CLOCK_POLARITY,         PHX_CAM_CLOCK_POS
PHX_CAM_SRC_DEPTH,              16
PHX_CAM_SRC_COL,                PHX_CAM_SRC_MONO
PHX_CAM_ACTIVE_XOFFSET,         0
PHX_CAM_ACTIVE_YOFFSET,         0
PHX_CAM_ACTIVE_XLENGTH,         1024
PHX_CAM_ACTIVE_YLENGTH,         1024
PHX_CAM_DATA_VALID,             PHX_DISABLE
PHX_CAM_HTAP_NUM,               1
PHX_CAM_HTAP_DIR,               PHX_CAM_HTAP_LEFT
PHX_CAM_HTAP_TYPE,              PHX_CAM_HTAP_LINEAR
PHX_CAM_HTAP_ORDER,             PHX_CAM_HTAP_ASCENDING
PHX_CAM_VTAP_NUM,               1
PHX_CAM_VTAP_INTERLEAVE_NUM,    0 PHX_CAM_VTAP_DIR,               PHX_CAM_VTAP_TOP
PHX_CAM_VTAP_TYPE,              PHX_CAM_VTAP_LINEAR
PHX_CAM_VTAP_ORDER,             PHX_CAM_VTAP_ASCENDING
PHX_COMMS_DATA,                 PHX_COMMS_DATA_8
PHX_COMMS_STOP,                 PHX_COMMS_STOP_1
PHX_COMMS_PARITY,               PHX_COMMS_PARITY_NONE
PHX_COMMS_SPEED,                9600
PHX_COMMS_FLOW,                 PHX_COMMS_FLOW_NONE

# System Specific Settings
# ------------------------
PHX_IO_CCIO_OUT,                PHX_ENABLE
PHX_IO_TTL_OUT,                 PHX_DISABLE
#PHX_IO_CCOUT_CH1,               PHX_IO_METHOD_BIT_CLR,          1
#PHX_IO_CCOUT_CH2,               PHX_IO_METHOD_BIT_CLR,          1
#PHX_IO_CCOUT_CH3,               PHX_IO_METHOD_BIT_CLR,          1
#PHX_IO_CCOUT_CH4,               PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_422OUT_CH1,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_422OUT_CH2,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_422OUT_CH3,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_422OUT_CH4,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_OPTOOUT_CH1,             PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_OPTOOUT_CH2,             PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_OPTOOUT_CH3,             PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_OPTOOUT_CH4,             PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_TTLOUT_CH1,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_TTLOUT_CH2,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_TTLOUT_CH3,              PHX_IO_METHOD_BIT_CLR,          1
PHX_IO_TTLOUT_CH4,              PHX_IO_METHOD_BIT_CLR,          1
PHX_CAMTRIG_SRC,                PHX_CAMTRIG_SRC_NONE
PHX_CAMTRIG_DELAY_MODE_D1CAM,   PHX_CAMTRIG_DELAY_NONE
PHX_CAMTRIG_DELAY_MODE_D2CAM,   PHX_CAMTRIG_DELAY_NONE
PHX_TIMERD1CAM_VALUE_NS,        1000
PHX_TIMERD2CAM_VALUE_NS,        1000
PHX_CAMTRIG_MULTIPLIER,         1
PHX_CAMTRIG_DIVIDER,            1
PHX_CAMTRIG_FILTER_NS,          200
PHX_CAMTRIG_ENCODER_SRC,        PHX_CAMTRIG_SRC_422IN_CHX_0
PHX_CAMTRIG_ENCODER_MODE,       PHX_CAMTRIG_ENCODER_MODE1
PHX_CAMTRIG_ENCODER_FILTER_NS,  0
PHX_CAMTRIG_CXPTRIG_SRC,        PHX_CAMTRIG_CXPTRIG_NONE
PHX_CAMTRIG_CXPTRIG_MODE,       PHX_CAMTRIG_CXPTRIG_RISEFALL
PHX_TIMERM1_WIDTH_NS,           0
PHX_TIMERM2_WIDTH_NS,           0
PHX_FGTRIG_SRC,                 PHX_FGTRIG_SRC_TIMERA1_CHX
PHX_FGTRIG_MODE,                PHX_FGTRIG_FREERUN
PHX_FGTRIG_ALIGN,               PHX_FGTRIG_ALIGN_TO_CLK
PHX_FGTRIG_DELAY_MODE,          PHX_FGTRIG_DELAY_NONE
PHX_TIMERD1FG_VALUE_NS,         0
PHX_TIMERD1FG_COUNT,            0
PHX_FGTRIG_FILTER_NS,           200
PHX_TIMERA1_MODE,               PHX_TIMERA1_MODE_RUN
PHX_TIMERA1_PERIOD_NS,          1000
PHX_TIMERA1_PULSE_COUNT,        1
PHX_EXP_LINESTART,              PHX_EXP_LINESTART_LINE
PHX_EVENTCOUNT_SRC,             PHX_EVENTCOUNT_LINE
PHX_EVENTGATE_SRC,              PHX_EVENTGATE_FRAME

# Application Specific Settings
# -----------------------------
PHX_ACQ_BLOCKING,               PHX_ENABLE
PHX_ACQ_CHAIN,                  PHX_DISABLE
PHX_CHAN_SYNC_MODE,             PHX_CHAN_SYNC_NONE
PHX_ACQ_CONTINUOUS,             PHX_ENABLE
PHX_ACQ_IMAGES_PER_BUFFER,      1
PHX_ACQ_NUM_BUFFERS,            1
PHX_ACQ_BUFFER_START,           1
PHX_ACQ_BUFFER_MEMSET_MODE,     PHX_ACQ_BUFFER_MEMSET_NONE
PHX_ACQ_BUFFER_MEMSET_VALUE,    165
PHX_ACQ_FIELD_MODE,             PHX_ACQ_FRAME_12
PHX_ACQ_XSUB,                   PHX_ACQ_X1
PHX_ACQ_YSUB,                   PHX_ACQ_X1
PHX_ACQ_HSCALE,                 65537
PHX_ROI_SRC_XOFFSET,            0
PHX_ROI_SRC_YOFFSET,            0
PHX_ROI_DST_XOFFSET,            0
PHX_ROI_DST_YOFFSET,            0
PHX_ROI_XLENGTH,                1024
PHX_ROI_YLENGTH,                1024
PHX_BUF_DST_XLENGTH,            1024
PHX_BUF_DST_YLENGTH,            1024
PHX_BUS_FORMAT,                 PHX_BUS_FORMAT_MONO16
PHX_USER_FORMAT,                PHX_USR_FORMAT_MONO16
PHX_DST_ENDIAN,                 PHX_DST_LITTLE_ENDIAN
PHX_CAM_XBINNING,               1
PHX_CAM_YBINNING,               1
PHX_LUT_COUNT,                  1
PHX_LUT_CORRECT,                PHX_DISABLE
PHX_BIT_SHIFT,                  0
PHX_LUT_BYPASS,                 PHX_DISABLE
PHX_TIMEOUT_TRIGGER,            1000
PHX_TIMEOUT_CAPTURE,            1000
PHX_TIMEOUT_DMA,                1000
PHX_DATASRC,                    PHX_DATASRC_CAMERA
PHX_COUNT_BUFFER_READY,         1
PHX_CL_LVAL_FILTER,             2
